@{ ViewBag.Title = "Asistencia a eventos";}
<div class="text-center" style="background-color:lightblue">
    <h2>Registra tu asistencia</h2>
    <h3>Te esperamos en los próximos eventos.</h3>
    @Html.ActionLink("Realiza tu petición", "Rsvp", null, new { @class = "btn btn-success" })
</div>